[submodule "dots/.config/quickshell/flash-impulse/modules/common/widgets/shapes"]
	path = dots/.config/quickshell/flash-impulse/modules/common/widgets/shapes
	url = https://github.com/end-4/rounded-polygon-qmljs.git
